*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;

}

body{

    background:#eef0f4;

}

header{

    height:90px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

}

.logo{

    font-size:38px;

    font-weight:bold;

    color:#2342c0;

}

nav{

    display:flex;

    gap:40px;

}

nav a{

    text-decoration:none;

    color:#001b57;

    font-size:22px;

}

.header-btn{

    border:none;

    background:#2342c0;

    color:white;

    padding:18px 40px;

    border-radius:40px;

    font-size:18px;

    cursor:pointer;

}

.main{

    width:90%;

    margin:auto;

    margin-top:50px;

}

.main h1{

    text-align:center;

    font-size:58px;

    color:#001b57;

}

.content{

    margin-top:50px;

    display:flex;

    gap:40px;

}

.cards{

    width:65%;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}

.card{

    background:white;

    border-radius:20px;

    overflow:hidden;

}

.card img{

    width:100%;

    height:320px;

    object-fit:cover;

}

.card-info{

    padding:25px;

}

.card-info h2{

    font-size:36px;

    margin-bottom:20px;

    color:#001b57;

}

.card-info a{

    color:gray;

    display:inline-block;

    margin-bottom:20px;

}

.line{

    width:100%;

    height:1px;

    background:#ccc;

    margin-bottom:20px;

}

.card-info p{

    font-size:28px;

    margin-bottom:10px;

    color:#001b57;

}

.select-room{

    margin-top:20px;

    border:none;

    background:#2342c0;

    color:white;

    padding:15px 25px;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

}

.booking-box{

    width:35%;

    background:white;

    border-radius:20px;

    padding:35px;

}

.booking-box h2{

    font-size:48px;

    margin-bottom:30px;

    color:#001b57;

}

.booking-box form{

    display:flex;

    flex-direction:column;

}

.booking-box label{

    margin-bottom:10px;

    margin-top:20px;

    font-size:20px;

}

.booking-box input{

    height:60px;

    border:1px solid #ddd;

    border-radius:12px;

    padding-left:15px;

    font-size:18px;

}

.booking-box button{

    margin-top:30px;

    height:60px;

    border:none;

    background:#2342c0;

    color:white;

    border-radius:12px;

    font-size:20px;

    cursor:pointer;

}
